* {
  color: white;
}
.App {
  font-weight: 600;
}
body {
  background-color: white;
}
.mt-6 {
  margin-top: 8rem !important;
}
.navbar {
  background-color: #00b2b9;
}
.landing {
  background-color: #00b2b9;
  height: 40vh;
}

.responsive-furniture {
  width: 50;
  height: auto;
  position: absolute;
  top: 250px;
  right: 300px;
}
.btn {
  border-radius: 50%;
}
.service-title {
  color: black;
  text-align: center;
}
.service-text {
  color: lightslategray;
  text-align: center;
}
.icon-service {
  color: #00b2b9;
}
.icon-refund {
  color: red;
}
.product-brand {
  color: #00b2b9;
}
.product-title {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 15px;
}
.product-text {
  color: lightslategray;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 10px 30px 10px;
}

@media only screen and (max-width: 450px) {
  #landing-title {
    font-size: 24px;
  }
  #landing-text {
    font-size: 14px;
  }

  .responsive-furniture {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 220px;
    right: 10px;
  }

  .landing {
    background-color: #00b2b9;
    height: 45vh;
  }

  .navbar-collapse {
    position: absolute;
    z-index: 1;
    top: 50px;
    background-color: white;
    border-radius: 10px;
  }
  .navbar-nav a {
    z-index: 2;
    color: black;
  }
}
