* {
  color: white;
}
.App {
  font-weight: 600;
}
body {
  background-color: white;
}
.navbar {
  background-color: #00b2b9;
}
.landing {
  background-color: #00b2b9;
  height: 40vh;
}
.responsive-furniture {
  width: 50;
  height: auto;
  position: absolute;
  top: 250px;
  right: 300px;
}
.btn {
  border-radius: 50%;
}

@media only screen and (max-width: 450px) {
  #landing-title {
    font-size: 24px;
  }
  #landing-text {
    font-size: 14px;
  }

  .responsive-furniture {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 220px;
    right: 10px;
  }

  .landing {
    background-color: #00b2b9;
    height: 45vh;
  }
}
